<h1>welcome to Bookers2 !!</h1>
<h4>
  In Bookers2,<br />
  <br />
  <br />
  you can share and exchange your opinions , inpressions , and emotions<br />
  <br />
  <br />
  about various books!
</h4>

  <li>
    <%= link_to "sign up", new_user_registration_path %>
  </li>
   <li>
    <%= link_to "sign in", new_user_session_path %>
  </li>